/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e8ecf1;
}

.container {
  text-align: center;
}

.neumorphism-box {
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 10px 10px 20px #b3b2b2, -10px -10px 20px #ffffff;
  display: inline-block;
}

h1 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  margin: 10px 0;
  text-align: left;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #f0f0f0;
  box-shadow: inset 5px 5px 10px #d7d5d5, inset -5px -5px 10px #ffffff;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

button.create {
  padding: 5px 10px;
  margin-top: 30px;
  background-color: #4c555b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
